
html{
  min-height: 100%;
  overflow: hidden;
}

body{
  height: calc(90vh - 8em);
  padding: 4em;
  font-family: monospace;  
  background-color: white;  
}

.line{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid black;
    font-size: 400%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.type-anim{
  animation: type 5s steps(44) 1s 1 normal both,
             cursor-blink 800ms steps(44) infinite normal;
}

@keyframes type{
  from{width: 0;}
  to{width: 24em;}
}

@keyframes cursor-blink{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}