@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

@font-face {
  font-family: "Manier";
  src: url("./static/fonts/manier-medium.eot");
  src: url("./static/fonts/manier-medium.eot?#iefix") format("embedded-opentype"),
    url("./static/fonts/manier-medium.woff2") format("woff2"), url("./static/fonts/manier-medium.woff") format("woff"),
    url("./static/fonts/manier-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

$font-color: #000000;

#__next {
  height: 100%;
  width: 100%;
}

html {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik';;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: $font-color;
}

h1, h2, h3, h4, h5, h6, p {
  all: unset;
  margin: 0;
  display: block;
}

h1 { 
  font-size: 96px;
  font-weight: 400;
  line-height: 100px;
}
h2 { font-size: 34px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
// h5 { font-size: 22px; }
h6 { font-size: 18px; }
p { font-size: 20px; }

m { font-weight: 500; }
b { font-weight: 600; }

button {
  all: unset;
  outline: none !important;
}

a, a:hover {
  color: inherit !important;
  text-decoration: underline;
}

:focus {
  outline: none;
}


@media (min-width: 769px) and (max-width: 992) { }

@media (min-width: 577px) and (max-width: 860px) {
  h1 { 
    font-size: 80px;
    line-height: 80px;
  }
  h2 { font-size: 28px; }
}


@media (max-width: 576px) {
  h1 { 
    font-size: 60px;
    line-height: 60px;
  }
  h2 { font-size: 24px; }
  h3 { font-size: 24px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }
  p { font-size: 16px; }
}