@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Chicago';
  src: url('./static/Chicago.ttf');
}

$font-color: #121517;

html {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  border: 3px solid black;
}

body {
  font-family: Chicago;
  font-size: 18px;
  margin: 0;
  background: url("/static/dot_bg.png") repeat;
  overflow: hidden;
  height: 100%;
  width: 100%;
  color: $font-color;
}

button {
  all: unset;
  outline: none !important;
}

a, a:hover {
  color: $font-color !important;
}

:focus {
  outline: none;
}

.move {
  cursor: move;
}

nav {
  background-color: #E2717C !important;
  border-bottom: 3px solid black;
}

@media (min-width: 10px) {
  .nav-link {
    padding: 0.25rem 0.75rem !important;
  }
}

.nav-link {
  color: #212529 !important;
}

.dropdown:hover {
  background-color: #FFC909 !important;
  box-shadow : 0 0 0 3px black;
}

.nav-link:hover, a[aria-expanded="true"] {
  background-color: #FFC909 !important;
  box-shadow : 0 0 0 3px black;
}

.dropdown-menu {
  border-radius: 7px;
  box-shadow: 0.3rem 0.3rem 0 black;
  padding: 0;
  margin-top: -0.5px;
}

.dropdown:hover>.dropdown-menu, .dropdown .show {
  display: block;
  background-color: #E2717C;
  border: 3px solid black;
}

.dropdown-item:hover, .dropdown-item.active, .dropdown-item:focus {
  color: $font-color !important;
  background-color: #FFC909 !important;
  box-shadow : 0 0 0 3px black;
}

.dropdown-item:first-child:hover, .dropdown-item:first-child.active, .dropdown-item:first-child:focus {
  border-radius: 5px 5px 0 0;
}

.dropdown-item:last-child:hover, .dropdown-item:last-child.active, .dropdown-item:last-child:focus {
  border-radius: 0 0 5px 5px;
}

.dropdown-divider {
  margin: 0;
  border-top: 3px dashed black !important;
}

.navbar-toggler {
  color: black !important;
  border: none;
}

@media (max-width: 991px) {
  .dropdown-menu {
    border-radius: 0;
    box-shadow: none;
  }

  .dropdown:hover>.dropdown-menu, .dropdown .show {
    border: solid black;
    border-width: 3px 0 0 0;
  }

  .dropdown-item:first-child:hover, .dropdown-item:first-child.active, .dropdown-item:first-child:focus, .dropdown-item:last-child:hover, .dropdown-item:last-child.active, .dropdown-item:last-child:focus {
    border-radius: 0;
  }

  .navbar-extra-extra {
    display: none;
  }

  .navbar-extra {
    padding-right: 0.5rem;
  }
}

@media (max-width: 767px) {
  .navbar-extra {
    display: none;
  }
}