@import url('http://fonts.googleapis.com/css?family=Roboto:300;900');

#__next {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html {
  height: 100%;
}

main {
  flex: 1;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
}

section {
  padding: 50px;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

.center-div {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}

@media screen and (max-width: 600px) {
  section {
    padding: 50px 20px;
  }

  .center-div {
    top: 0;
    left: 0;
    transform: none;
    position: relative;
  }
}
