@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,700');

body {
  margin: 0;
  padding: 4em;
  font-size: 2em;
  font-family: Source Code Pro;
  text-align: left;
  background-color: white; /*#FCE8E8;*/
}

::selection {
  background: #FFDF00;
}

p {
  margin: 0px;
  padding-right: 50vw;
  font-weight: 200;
  white-space: pre-wrap;
}

.top {
  padding-top: 25vh;
}

.normal {
  padding-top: 7vh;
}

bold {
  font-weight: 200;
  font-size: 3em;
}

a {
  margin: 0;
  padding-bottom: 0.5em;
  float: right;
  clear: right;
  text-decoration: none;
  color: black;
}

.icon svg {
  padding-right: 1em;
  font-size: .7em;
  transition: .3s;
  stroke: black;
}

.icon svg:hover{
  opacity: 1;
  stroke: #FFDF00;
}
